.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color:#290909 transparent; /* For Firefox */
}

/* For Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Decrease the width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #290909; /* Set scrollbar color */
  border-radius: 10px; /* Optional: round the corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Set the background of the track */
}
